:root{
    --fondoHeader: rgb(223, 86, 71);
    --fondoMain: rgb(241, 165, 157);
    --colorLetra: rgb(41, 39, 39);
    --colorFondoDescuento: rgba(192, 0, 0, 0.7);
}
/* GENERAL RESET */
html{font-size: 62.5%;}*{padding: 0px;margin: 0px;box-sizing: border-box;font-family: Verdana, Geneva, Tahoma, sans-serif;}a{text-decoration: none;}ul{list-style-type: none;}body {background-color: var(--fondoMain);}
/* clases comunes */
.bold{
    font-weight: bold;
}
.color{
    color: red;
}
/*                                          HEADER                                        */
.header__container, .main__container, .footer__container{
    max-width: 1200px;
    margin: 0 auto;
}
.header {
    background-color: var(--fondoHeader);
    position: sticky;
    top: 0;
    z-index: 1;
}
.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
}
.imagenLogo{
    width: 10rem;
    border-radius: 80%;
    margin: 0.5rem;
}
.tituloBienvenida{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 5rem;
    font-weight: bold;
    margin-left: 10rem;
    color: var(--colorLetra);
}
.main__container-bienvenida h2{
    margin-top: 5rem;
    font-size: 2rem;
    color: var(--colorLetra);
}
.main__container-articulos{
    margin-top: 2rem;
}

/*                                          FOOTER                                        */
.footer{
    text-align: center;
}
.footer__container small{
    margin: 0 auto;
    font-size: 1.5rem;
}
.carritoCompras {
    position: fixed;
    bottom: 1rem;
    margin: 1rem;
    right: 1rem;
}
.carritoCompras p {
    background-color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: bold;
    color: red;
    position: absolute;
    top: 0;
    right: 0;
    margin: -9px 5px;
    padding: 5px 6px;
    border-radius: 50%;
}

/*                  cards                */

.main__container-articulos_cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 10px coral;
}
.card__descuentos{
    background-color: var(--colorFondoDescuento);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    display: flex;
    text-align: right;
    position: absolute;
    box-shadow: 0 0 20px red;
}
.btn{
    font-size: 1.5rem;
    font-size: bold;
    box-shadow: 10px 10px 10px coral;
}